@mixin display-justified-and-aligned ($display, $justified, $aligned) {
    display: $display;
    justify-content: $justified;
    align-items: $aligned;
}

@mixin display-with-justified ($display, $justified) {
    display: $display;
    justify-content: $justified;
}

@mixin display-with-aligned ($display, $aligned) {
    display: $display;
    align-items: $aligned;
}

@mixin display-with-template-columns ($display, $template-columns) {
    display: $display;
    grid-template-columns: $template-columns;
}

@mixin common-search-btn ($color, $background) {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color: $color;
    background: $background;
    cursor: pointer;
}

@mixin common-bar-props {
    width: 36rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: -30px;

    @include tab {
        width: 30rem;
        margin-top: -15px;
    }

    @include mobile() {
        margin-top: 15px;
    }
}

@mixin discount-offer-common-props ($background) {
    width: 50px;
    height: 28px;
    padding: 5px 0;
    border-radius: 5px;
    background: $background;
    text-align: center;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 90% 0);
}


// responsive
@mixin mobile {
    @media screen and (max-width: ($mobile)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}